body {
    font-family: 'Open Sans', sans-serif;
    margin: 70px 0 70px 0;
}
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}
    .btn-default:focus {
        color: #333;
        background-color: palegreen;
        border-color: #8c8c8c;
    }

    .btn-default:active,
    .btn-default:hover {
        color: palegreen;
        background-color: #f8f9fa;
        border-color: #adadad;
    }
.nav-link, .dropdown-toggle {
    color: white !important;
}/* AKI MUDAS A COR DA LETRA NA NAVBAR */
  li:after {
  content: "";
  position: relative;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 10%;
}
   li:hover::after {
  width: 100%;
  height: 3px;
  background-color: #fff;
}
  li {
     margin-right: 30px;
     
 }