body { 
    font-family: 'Open Sans', sans-serif;
    margin: 70px 0 70px 0;
    background-color:white !important;
}
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}
.nav-link, .dropdown-toggle {
    color: white !important;
}/* AKI MUDAS A COR DA LETRA NA NAVBAR */
  .nav-item:after {
  content: "";
  position: relative;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 10%;
}
  .nav-item:hover::after {
  width: 100%;
  height: 3px;
  background-color: #fff;
}
  .nav-item {
     margin-right: 30px;
     
 }

.zoom {
    background-color: whitesmoke;
    transition: transform .2s;
    border-radius:10px;
}

.zoom:hover {
        transform: scale(1.08);    
        color: black;
}

